@import './vars';

$breakpoints: (
  sm: 0,
  md: $container-max-width,
  lg: $container-max-width + $menu-min-width,
  xl: $container-max-width + $menu-min-width * 2
);

// Apply rules only for broader displays than $breakpoint.
@mixin media-up($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

// Apply rules only for narrower displays than $breakpoint.
@mixin media-down($breakpoint) {
  @media (max-width: #{map-get($breakpoints, $breakpoint) - 0.02}) {
    @content;
  }
}
