///////////////////////////////////
// Colors
///////////////////////////////////

$color-bg: #eff1f3;
$color-primary: #405818;
$color-accent: #efcb68;
$color-fg: #231c07;
$color-fg-sub: #635d49;
$color-fg-light: #c5c5c5;
$color-border: #b4af9d;

///////////////////////////////////
// Sizes
///////////////////////////////////

// A max width of main container
$container-max-width: 800px;

// A minimal width of site menu
$menu-min-width: 248px;
