.dates {
	display: block;
}

.date {
	display: inline-block;
	color: #ccc;
	font-size: 0.8rem;
}
.date + .date {
	margin-left: 1rem;
}

.logo {
	font-family: Cairo;
	font-weight: bold;
}

.content amp-img {
  margin: 1em 0;
  box-shadow: 1px 0px 5px #aaa, -1px 0px 5px #aaa;
}

/* Overrides bulma styles */

.hero-body {
	padding: 1.5rem;
}
.hero-body > .tags {
	margin-bottom: 0;
}

.content {
	padding: 1rem 0;
	font-size: 0.9rem;
}
.content a {
	word-break: break-word;
}
.content > *:not(pre) {
	padding: 0 1rem;
}
.content pre {
	background-color: #333;
	color: #fff;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 999;

	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ccc;
}

.navbar, .navbar-brand {
	min-height: auto;
}
