[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.sass]
indent_style = space
indent_size = 2

[*.pug]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2

[*.vue]
indent_style = space
indent_size = 2

[*.css]
indent_style = tab
indent_size = 2
