#app {
  font-family: 'IBM Plex Sans', 'Mplus 1p', sans-serif;
}

p {
  font-weight: bold;
  font-size: 2em;
  background-color: #ececec;
  color: #333;
}

.content {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
