@import '~/scss/vars.scss';

$menu-size: 1em;
$bar-height: 0.16667em;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $menu-size;
  height: $menu-size;

  cursor: pointer;
}

.bar {
  display: block;
  width: 100%;
  height: $bar-height;

  border-radius: 1px;
  background-color: $color-fg;

  transition: transform 0.15s ease, opacity 0.15s ease;
}

$offset-y: $menu-size / 2 - $bar-height / 1.75;

:host([expanded='true']),
:host([expanded='expanded']) {
  & > .bar:first-of-type {
    transform: translateY($offset-y) rotate(45deg);
  }

  & > .bar:nth-of-type(2) {
    transform: rotate(-45deg);
    opacity: 0;
  }

  & > .bar:last-of-type {
    transform: translateY(-$offset-y) rotate(-45deg);
  }
}
