@import '~/scss/vars.scss';

:host {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $color-bg;
}

$menu-height: 7.2rem;

.nav {
  position: absolute;
  width: 100%;
  height: $menu-height;
}

.nav-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  fill: $color-bg;
  z-index: 1;

  filter: drop-shadow(0px 10px 5px $color-bg);
}

.nav-contents {
  position: relative;
  z-index: 2;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 0;
  overflow-y: auto;
}

.main-contents {
  $vpad: $menu-height + $menu-height / 1.5;

  padding: $vpad 0.8rem;
}

.bottom-blur {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4rem;

  z-index: 1;
  background-image: linear-gradient(
    360deg,
    #eff1f3 4.97%,
    rgba(239, 241, 243, 0) 99.99%,
    rgba(196, 196, 196, 0) 100%,
    rgba(239, 241, 243, 0) 100%
  );
}

.aside {
  display: none;
}
